@model MyShop.Models.Product
@{
	ViewData["Title"] = "Chi tiết sản phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="">

	<div class="shop-container">

		
			<div class="container">
	<div class="woocommerce-notices-wrapper"></div></div>
<div id="product-16398" class="product type-product post-16398 status-publish first instock product_cat-thiet-bi-truong-hoc-thong-minh product_cat-am-thanh-di-dong has-post-thumbnail shipping-taxable purchasable product-type-simple">

	<div class="custom-product-page ux-layout-15741 ux-layout-scope-global">

			<section class="section" id="section_114843893">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			

<div class="row"  id="row-33892468">


	<div id="col-125991344" class="col medium-6 small-12 large-6"  >
		<div class="is-sticky-column"><div class="is-sticky-column__inner">		<div class="col-inner"  >
			
			


<div class="product-images relative mb-half has-hover woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4">

  <div class="badge-container is-larger absolute left top z-1">

</div>

  <div class="image-tools absolute top show-on-hover right z-3">
      </div>

  <div class="woocommerce-product-gallery__wrapper product-gallery-slider slider slider-nav-small mb-half"
        data-flickity-options='{
                "cellAlign": "center",
                "wrapAround": true,
                "autoPlay": false,
                "prevNextButtons":true,
                "adaptiveHeight": true,
                "imagesLoaded": true,
                "lazyLoad": 1,
                "dragThreshold" : 15,
                "pageDots": false,
                "rightToLeft": false       }'>
    <div data-thumb="/user/assets/wp-content/upload/2022/07/BG-Header.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image slide first">
		<a href="">
			<img width="600" height="600" src="@Model.Image" class="wp-post-image skip-lazy" alt="@Model.Name" title="@Model.Name">
		</a>
	</div>  

	@foreach (var pi in ViewBag.ProductImages)
    {
        <div class="woocommerce-product-gallery__image slide">
            <a href="@pi.ImageUrl">
                <img width="600" height="600"
                     src="@pi.ImageUrl"
                     alt="@Model.Name">
            </a>
        </div>
    }
</div>

  <div class="image-tools absolute bottom left z-3">
        <a href="#product-zoom" class="zoom-button button is-outline circle icon tooltip hide-for-small" title="Zoom">
      <i class="icon-expand" ></i>    </a>
   </div>
</div>
	<div class="product-thumbnails thumbnails slider-no-arrows slider row row-small row-slider slider-nav-small small-columns-4"
		data-flickity-options='{
			"cellAlign": "left",
			"wrapAround": false,
			"autoPlay": false,
			"prevNextButtons": true,
			"asNavFor": ".product-gallery-slider",
			"percentPosition": true,
			"imagesLoaded": true,
			"pageDots": false,
			"rightToLeft": false,
			"contain": true
		}'>
		<div class="col">
			<a href="">
				<img src="@Model.Image" alt="" width="300" height="300" class="attachment-woocommerce_thumbnail" />		
			</a>
		</div>  
		@foreach(var pi in ViewBag.ProductImages){
			<div class="col">
				<a>
					<img src="@pi.ImageUrl" alt="" width="300" height="300" class="attachment-woocommerce_thumbnail" />				
				</a>
			</div>
		}
					
					</div>
	

		</div>
		</div></div>			</div>

	

	<div id="col-524759420" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			

<div class="row"  id="row-1336006656">


	<div id="col-530701852" class="col small-12 large-12"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			

<div class="product-breadcrumb-container is-small">
	<nav class="woocommerce-breadcrumb breadcrumbs ">
		<a href="/">Trang chủ</a> <span class="divider">&#47;</span> 
		<a href="/san-pham">Sản phẩm</a> <span class="divider">&#47;</span> 
		@foreach (var c in ViewBag.Categories)
		{
			if (Model.CategoryId == c.Id && c.Parent != null)
			{
				<a href="/san-pham/@c.Parent.Slug">@c.Parent.Name</a>
				<span class="divider">&#47;</span>
			}
		}

		@foreach (var c in ViewBag.Categories)
		{
			if (Model.CategoryId == c.Id)
			{
				<a href="/san-pham/@(c.Parent?.Slug)/@c.Slug">@c.Name</a>
			}
		}
	</nav>
</div>

	<div id="gap-1428329321" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-1428329321 {
  padding-top: 15px;
}
</style>
	</div>
	

<div class="product-title-container is-small"><h1 class="product-title product_title entry-title">
	@Model.Name</h1>

</div>

	<div id="gap-168776914" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-168776914 {
  padding-top: 15px;
}
</style>
	</div>
	

<div class="product-price-container is-large"><div class="price-wrapper">
	<p class="price product-page-price ">
		<a href="/lien-he">
			<span class="amount">Liên hệ</span>
		</a>
	</p>
</div>
</div>

@* <div class="product-short-description">
	<ul>
<li>Âm thanh chất lượng cao với công suất 500W tối đa.</li>
<li>Chức năng tự bảo vệ loa treble, an toàn khi sử dụng.</li>
<li>Dải tần 50Hz đến 20.000Hz, âm thanh chi tiết.</li>
<li>Thiết kế gọn nhẹ, dễ dàng di chuyển và lắp đặt.</li>
</ul>
</div> *@


<div class="add-to-cart-container form-minimal is-normal">
	
	<form class="cart" action="/cart/add" method="get" enctype='multipart/form-data'>
		
			<div class="quantity buttons_added form-minimal">
		<input type="button" value="-" class="minus button is-form">				<label class="screen-reader-text" for="quantity_693a1041b1b64">@Model.Name</label>
		<input
			type="number"
						id="quantity_693a1041b1b64"
			class="input-text qty text"
			name="quantity"
			value="1"
			aria-label="Số lượng sản phẩm"
			size="4"
			min="1"
			max=""
							step="1"
				placeholder=""
				inputmode="numeric"
				autocomplete="off"
					/>
		<input type="button" value="+" class="plus button is-form">	
		<input type="hidden" name="id" value="@Model.Id"/>
	</div>
	
		<button type="submit" name="add-to-cart" value="16398" class="single_add_to_cart_button button alt">Thêm vào giỏ hàng</button>

			</form>

				<div class="qua-tang-box">
				<div class="row-gift">
					<span class="label">Sản phẩm</span><span class="value">Chính hãng, nguyên đai nguyên kiện</span>
				</div>
															</div>

</div>

<div class="product_meta">

	<span class="posted_in">Danh mục:
		@foreach (var c in ViewBag.Categories)
		{
			if (Model.CategoryId == c.Id && c.Parent != null)
			{
				<a href="/san-pham/@c.Parent.Slug">@c.Parent.Name,</a>
			}
		}

		@foreach (var c in ViewBag.Categories)
		{
			if (Model.CategoryId == c.Id)
			{
				<a href="/san-pham/@(c.Parent?.Slug)/@c.Slug">@c.Name</a>
			}
		}
	</span>

</div>



		</div>
				
<style>
#col-530701852 > .col-inner {
  padding: 10px 10px 5px 20px;
  border-radius: 12px;
}
</style>
	</div>

	

	<div id="col-2127523929" class="col small-12 large-12"  >
				<div class="col-inner text-left" style="background-color:rgb(255,255,255);" >
			
			


	<div class="woocommerce-tabs wc-tabs-wrapper container tabbed-content">
		<ul class="tabs wc-tabs product-tabs small-nav-collapse nav nav-uppercase nav-line nav-left" role="tablist">
							<li class="description_tab active" id="tab-title-description" role="presentation">
					<a href="#tab-description" role="tab" aria-selected="true" aria-controls="tab-description">
											</a>
				</li>
									</ul>
		<div class="tab-panels">
							<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
										

<div id="ez-toc-container" class="ez-toc-v2_0_79_2 counter-hierarchy ez-toc-counter ez-toc-custom ez-toc-container-direction">
<div class="ez-toc-title-container">
<p class="ez-toc-title" style="cursor:inherit">Nội dung chính</p>
<span class="ez-toc-title-toggle"><a href="#" class="ez-toc-pull-right ez-toc-btn ez-toc-btn-xs ez-toc-btn-default ez-toc-toggle" aria-label="Toggle Table of Content"><span class="ez-toc-js-icon-con"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #000000;color:#000000" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #000000;color:#000000" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"/></svg></span></span></span></a></span></div>
<nav><ul class='ez-toc-list ez-toc-list-level-1 ' ><li class='ez-toc-page-1 ez-toc-heading-level-2'><a class="ez-toc-link ez-toc-heading-1" href="#tong_quan_san_pham" >Tổng quan sản phẩm</a></li><li class='ez-toc-page-1 ez-toc-heading-level-2'><a class="ez-toc-link ez-toc-heading-3" href="#thong_so_ky_thuat" >Thông số kỹ thuật</a></li></ul></nav></div>
<h2><span class="ez-toc-section" id="tong_quan_san_pham"></span>Tổng quan sản phẩm<span class="ez-toc-section-end"></span></h2>
<p>@Html.Raw(Model.Description)</p>
<h2><span class="ez-toc-section" id="thong_so_ky_thuat"></span>Thông số kỹ thuật<span class="ez-toc-section-end"></span></h2>
<table style="width: 100%;">
<tbody>
	@foreach(var ps in ViewBag.ProductSpecs){
		<tr>
			<th style="width: 46.2162%;">ps.SpecName</th>
			<th style="width: 52.7027%;">ps.SpecValue</th>
		</tr>
	}
</tbody>
</table>
				</div>
							
					</div>
	</div>




		</div>
				
<style>
#col-2127523929 > .col-inner {
  padding: 0px 10px 10px 20px;
  border-radius: 12px;
}
</style>
	</div>

	

		<div id="col-333800532" class="col small-12 large-12"  >
					<div class="col-inner text-left" style="background-color:rgb(255,255,255);" >
			
			


		<div class="related related-products-wrapper product-section">

						<h3 class="product-section-title container-width product-section-title-related pt-half pb-half uppercase">
					Sản phẩm tương tự			</h3>
		

	
  
		<div class="row has-equal-box-heights equalize-box large-columns-3 medium-columns-2 small-columns-2 row-small slider row-slider slider-nav-reveal slider-nav-push"
     data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold": 5, "cellAlign": "left", "wrapAround": true, "prevNextButtons": true, "percentPosition": true, "pageDots": false, "rightToLeft": false, "autoPlay": false}'>

    <!-- PRODUCT ITEM -->
	@if(ViewBag.RelatedProducts != null && ViewBag.RelatedProducts.Count > 0){
		@foreach(var p in ViewBag.RelatedProducts){
			<div class="product-small col has-hover product type-product post-16500 status-publish instock product_cat-thiet-bi-truong-hoc-thong-minh product_cat-he-thong-quan-ly-chia-khoa-thong-minh has-post-thumbnail shipping-taxable purchasable product-type-simple">
        <div class="col-inner">

            <div class="badge-container absolute left top z-1"></div>

            <div class="product-small box">
                <div class="box-image">
                    <div class="image-zoom">
                        <a href="/chi-tiet/@p.Slug"
                           aria-label="@p.Name">

                            <div class="label-custom bcn">
                                <span>Terminal</span>
                            </div>

                            <img width="300"
                                 height="300"	
                                 src="@p.Image"
                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                 alt="@p.Name"
                                 />

                            <noscript>
                                <img width="300"
                                     height="300"
                                     src="@p.Image"
                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                     alt="@p.Name" />
                            </noscript>
                        </a>
                    </div>

                    <div class="image-tools is-small top right show-on-hover"></div>
                    <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>

                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                        <a class="quick-view" data-prod="16500" href="#quick-view">
                            <span class="dashicons dashicons-visibility"></span>
                        </a>
                    </div>
                </div>

                <div class="box-text box-text-products text-center grid-style-2">
                    <div class="title-wrapper">
                        <p class="name product-title woocommerce-loop-product__title">
                            <a href="/chi-tiet/@p.Slug"
                               class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                @p.Name
                            </a>
                        </p>
                    </div>

                    <div class="price-wrapper">
                        @functions {
							string FormatPrice(decimal? price)
							{
								return (price ?? 0)
									.ToString("#,##0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"));
							}
						}
						@if (p.SalePrice > 0)
						{
							<!-- Giá gốc -->
							<span class="price old-price" style="display:block; text-decoration: line-through; color:#999;">
								@FormatPrice(p.Price) ₫
							</span>

							<!-- Giá sale -->
							<span class="price sale-price" style="display:block; color:#d00;">
								@FormatPrice(p.SalePrice) ₫
							</span>
						}
						else 
						{
							<!-- Giá thường -->
							<span class="price" style="display:block;">
								@FormatPrice(p.Price) ₫
							</span>
						}
						<a href="/lien-he">
							<span class="contact-price" style="display:block; margin-top:3px; color:red; font-weight:bold">
								Liên hệ
							</span>	
						</a>
						
                    </div>
                </div>
            </div>

        </div>
    </div>
		}
	}
    

    <!-- Các product tiếp theo giữ nguyên cấu trúc tương tự -->
</div>


	


			</div>
				
<style>
#col-333800532 > .col-inner {
  padding: 0px 10px 0px 20px;
  border-radius: 12px;
}
</style>
	</div>

	

</div>

		</div>
				
<style>
#col-524759420 > .col-inner {
  border-radius: 12px;
}
</style>
	</div>

	

</div>

		</div>

		
<style>
#section_114843893 {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
	</section>

				<div id="product-sidebar" class="mfp-hide">
				<div class="sidebar-inner">
					
		<aside id="block_widget-6" class="widget block_widget">
		<span class="widget-title shop-sidebar">Chính sách mua hàng</span><div class="is-divider small"></div>
			<div id="stack-1058298598" class="stack stack-ico-chinh-sach-sp stack-col justify-around items-stretch">
		


		<div class="icon-box featured-box ico-chinh-sach-sp icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 40px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Layer_91" data-name="Layer 91"><path d="M53.25,24a21.25,21.25,0,1,0-33.5,17.33V60a1.25,1.25,0,0,0,2,1L32,53.55,42.26,61a1.26,1.26,0,0,0,.74.24,1.17,1.17,0,0,0,.57-.14A1.24,1.24,0,0,0,44.25,60V41.33A21.21,21.21,0,0,0,53.25,24ZM41.75,57.54l-9-6.55a1.26,1.26,0,0,0-1.48,0l-9,6.55V42.86a21.08,21.08,0,0,0,19.5,0ZM32,42.75A18.75,18.75,0,1,1,50.75,24,18.77,18.77,0,0,1,32,42.75Z"/><path d="M41.43,17.63H37.12a.73.73,0,0,1-.7-.5L35.09,13a3.25,3.25,0,0,0-6.18,0l-1.33,4.09a.73.73,0,0,1-.7.51H22.57a3.25,3.25,0,0,0-1.91,5.88l3.48,2.54a.72.72,0,0,1,.27.82L23.08,31a3.25,3.25,0,0,0,5,3.63l3.49-2.53a.72.72,0,0,1,.86,0l3.49,2.53a3.21,3.21,0,0,0,3.82,0A3.2,3.2,0,0,0,40.92,31l-1.33-4.1a.72.72,0,0,1,.27-.82l3.48-2.54a3.25,3.25,0,0,0-1.91-5.88Zm.44,3.86L38.39,24a3.24,3.24,0,0,0-1.18,3.62l1.33,4.1a.75.75,0,0,1-1.15.84L33.9,30a3.22,3.22,0,0,0-3.8,0l-3.49,2.54a.75.75,0,0,1-1.15-.84l1.33-4.1A3.24,3.24,0,0,0,25.61,24l-3.48-2.53a.72.72,0,0,1-.28-.84.74.74,0,0,1,.72-.52h4.31A3.23,3.23,0,0,0,30,17.9l1.33-4.1a.74.74,0,0,1,1.42,0L34,17.9a3.23,3.23,0,0,0,3.08,2.23h4.31a.74.74,0,0,1,.72.52A.72.72,0,0,1,41.87,21.49Z"/></g></svg>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									

<h4 style="font-size: 18px">Sản phẩm chính hãng</h4><span style="font-size: 15px">Sản phẩm chính hãng, nguyên đai, nguyên kiện</span>

		</div>
	</div>
	
	

		<div class="icon-box featured-box icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 40px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>2</title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro%7CBarlow%3Aregular%2C700%2Cregular%2C700%7CDancing%20Script%3Aregular%2Cregular%7COpen%20Sans&display=swap" /><g id="Layer_16" data-name="Layer 16"><path d="M52.27,8.83,32.48,3.93a2,2,0,0,0-1,0L11.73,8.83a2,2,0,0,0-1.52,1.94V38.83a17.63,17.63,0,0,0,7.56,14.47l.26.15,13.09,6.47a2,2,0,0,0,1.77,0L46,53.44l.26-.15a17.63,17.63,0,0,0,7.56-14.47V10.78A2,2,0,0,0,52.27,8.83ZM32,7.94l17.79,4.41V15L32.48,10.71a2,2,0,0,0-1,0L14.21,15V12.34Zm12.06,42L32,55.89l-12.06-6a13.63,13.63,0,0,1-5.73-11.1V19.11L32,14.71l17.79,4.41V38.83A13.63,13.63,0,0,1,44.06,49.93Z"/></g></svg>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									

<h4 style="font-size: 18px">Bảo hành điện tử</h4><span style="font-size: 15px">Bảo hành điện tử đơn giản, nhanh chóng</span>

		</div>
	</div>
	
	

		<div class="icon-box featured-box icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 40px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Layer_10" data-name="Layer 10"><path d="M60.12,31.3l-11-11A3,3,0,0,0,47,19.45H39.71a3,3,0,0,0-3,3V36.59H33.94v-30a1,1,0,0,0-1-1H7.71a1,1,0,0,0-1,1v30H6a3,3,0,0,0-3,3V49.74a3,3,0,0,0,3,3H8.62a6.91,6.91,0,0,0,13.58,0H42.06a6.92,6.92,0,0,0,13.59,0H58a3,3,0,0,0,3-3V33.42A3,3,0,0,0,60.12,31.3ZM23.43,7.63v5.79l-2.35-2.71a1,1,0,0,0-1.51,0l-2.35,2.71V7.63Zm-14.72,0h6.51v8.46a1,1,0,0,0,1.75.66l3.36-3.86,3.35,3.86a1,1,0,0,0,1.75-.66V7.63h6.51v29H8.71ZM5,49.74V39.59a1,1,0,0,1,1-1H36.71V50.74H22.29a6.92,6.92,0,0,0-13.76,0H6A1,1,0,0,1,5,49.74Zm10.41,6.63a4.92,4.92,0,1,1,4.92-4.92A4.93,4.93,0,0,1,15.41,56.37Zm33.45,0a4.92,4.92,0,1,1,4.92-4.92A4.92,4.92,0,0,1,48.86,56.37ZM59,49.74a1,1,0,0,1-1,1H55.74a6.92,6.92,0,0,0-13.77,0H38.71V22.45a1,1,0,0,1,1-1H47a1.05,1.05,0,0,1,.71.29l11,11a1,1,0,0,1,.29.71Z"/><path d="M46.05,25.82a1,1,0,0,0-.71-.3H43.79a1,1,0,0,0-1,1V38.67a1,1,0,0,0,1,1H53.93a1,1,0,0,0,1-1V35.11a1,1,0,0,0-.29-.71Zm6.88,11.85H44.79V27.52h.14l8,8Z"/></g></svg>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									

<h4 style="font-size: 18px">Vận chuyển toàn quốc</h4><span style="font-size: 15px">Vận chuyển, giao hàng và lắp đặt toàn quốc</span>

		</div>
	</div>
	
	

		<div class="icon-box featured-box icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 40px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Layer_43" data-name="Layer 43"><path d="M31.35,24.12a1,1,0,0,0-1,1v6.47l-5.9,5.89a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l6.19-6.19a1,1,0,0,0,.29-.71V25.12A1,1,0,0,0,31.35,24.12Z"/><path d="M58,54.79A12.34,12.34,0,0,0,50,46a6.81,6.81,0,0,0,.76-10.36A19.33,19.33,0,0,0,51.14,32,19.84,19.84,0,1,0,35.36,51.37,12.58,12.58,0,0,0,34,54.7a1,1,0,0,0,.26,1,15.8,15.8,0,0,0,23.58-.06A1,1,0,0,0,58,54.79Zm-7.21-14.3A4.84,4.84,0,0,1,46,45.32h0a4.83,4.83,0,1,1,4.85-4.83ZM32.35,49.74V46.12a1,1,0,0,0-2,0v3.62a17.65,17.65,0,0,1-10.83-4.5l2.55-2.55a1,1,0,1,0-1.41-1.41l-2.55,2.55A17.64,17.64,0,0,1,13.62,33h3.61a1,1,0,1,0,0-2H13.62a17.64,17.64,0,0,1,4.49-10.83l2.55,2.55a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41l-2.55-2.55a17.65,17.65,0,0,1,10.83-4.5v3.62a1,1,0,1,0,2,0V14.26a17.69,17.69,0,0,1,10.83,4.49l-2.55,2.56a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l2.56-2.55A17.69,17.69,0,0,1,49.09,31H45.47a1,1,0,0,0,0,2h3.61q0,.68-.12,1.35a6.68,6.68,0,0,0-3-.69A6.82,6.82,0,0,0,42,46a12.24,12.24,0,0,0-4.47,2.7A17.49,17.49,0,0,1,32.35,49.74ZM46,59a13.78,13.78,0,0,1-10-4.25A10.36,10.36,0,0,1,46,47.32H46A10.36,10.36,0,0,1,56,54.75,13.78,13.78,0,0,1,46,59Z"/><path d="M28.46,52.13a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l1.73,1.73A23.46,23.46,0,0,1,7.93,32a1,1,0,0,0-2,0A25.46,25.46,0,0,0,29,57.32l-2,2a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.46-3.47a1,1,0,0,0,.35-.44,1,1,0,0,0-.21-1.09Z"/><path d="M30.64,8.28h0l3.58,3.57a1,1,0,0,0,1.71-.7,1,1,0,0,0-.29-.71L33.9,8.72A23.45,23.45,0,0,1,54.77,32a1,1,0,0,0,2,0A25.46,25.46,0,0,0,33.66,6.68l2-2a1,1,0,1,0-1.42-1.42L30.65,6.87l-.06,0h0a1,1,0,0,0-.23.53,1.28,1.28,0,0,0,0,.19h0A1,1,0,0,0,30.64,8.28Z"/></g></svg>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									

<h4 style="font-size: 18px">Hỗ trợ khách hàng</h4><span style="font-size: 15px">Hỗ trợ, chăm sóc khách hàng 24/7</span>

		</div>
	</div>
	
			

		
<style>
#stack-1058298598 > * {
  --stack-gap: 0rem;
}
</style>
	</div>
	
<div class="is-divider divider clearfix" style="background-color:rgb(0, 0, 0);"></div>
		</aside>
		<aside id="woocommerce_product_categories-13" class="widget woocommerce widget_product_categories"><span class="widget-title shop-sidebar">Danh mục sản phẩm</span><div class="is-divider small"></div>
			<ul class="product-categories">
				<li class="cat-item cat-item-243 cat-parent"><a href="https://inno.com.vn/noi-that-thong-minh/">Nội thất thông minh</a>
					<ul class='children'>
<li class="cat-item cat-item-244"><a href="https://inno.com.vn/ban-ghe-cho-lop-hoc-hien-dai/">Bàn ghế cho lớp học hiện đại</a></li>
</ul>
</li>
<li class="cat-item cat-item-16"><a href="https://inno.com.vn/uncategorized/">Uncategorized</a></li>
</ul></aside>				</div>
			</div>

	</div>

	
</div>

		
	</div><!-- shop container -->


</main>