@model IEnumerable<MyShop.Models.Product>
@{
	ViewData["Title"] = "Sản phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="shop-page-title category-page-title page-title ">
	<div class="page-title-inner flex-row  medium-flex-wrap container">
		<div class="flex-col flex-grow medium-text-center">
			<div class="is-medium">
				<nav class="woocommerce-breadcrumb breadcrumbs ">
					<a href="/">Trang chủ</a> 
					<span class="divider">&#47;</span> 
					<a href="/san-pham">Sản phẩm</a> 
					@if (string.IsNullOrEmpty(ViewBag.ParentSlug))
					{
						<span class="divider">&#47;</span>
						<a href="/san-pham/@ViewBag.ParentSlug">@ViewBag.CategoryParentName</a> 
					}
					@if (string.IsNullOrEmpty(ViewBag.Slug))
					{
						<span class="divider">&#47;</span>
						<a href="/san-pham/@ViewBag.ParentSlug/@ViewBag.Slug">@ViewBag.CategoryName</a> 
					} 
				</nav>
			</div>
			<div class="category-filtering category-filter-row show-for-medium">
				<a href="#" data-open="#shop-sidebar" data-visible-after="true" data-pos="left" class="filter-button uppercase plain">
					<i class="icon-equalizer"></i>
					<strong>Lọc</strong>
				</a>
				<div class="inline-block">
				</div>
			</div>
		</div>
		<div class="flex-col medium-text-center">
			<form class="woocommerce-ordering" method="get" asp-action="Index">
				<select name="orderby"
						class="orderby"
						aria-label="Đơn hàng của cửa hàng">
					<option value="date" selected="@(string.IsNullOrEmpty(ViewBag.Orderby) || ViewBag.Orderby == "date")">
						Sắp xếp theo mới nhất
					</option>

					<option value="price" selected="@(ViewBag.Orderby == "price")">
						Sắp xếp theo giá: thấp đến cao
					</option>

					<option value="price-desc" selected="@(ViewBag.Orderby == "price-desc")">
						Sắp xếp theo giá: cao đến thấp
					</option>
				</select>
				<input type="hidden" name="page" value="@ViewBag.Page" />
			</form>
		</div>
	</div>
</div>

<main id="main" class="">
	<div class="row category-page-row">

		<div class="col large-9">
			<div class="shop-container">


				<div class="woocommerce-notices-wrapper"></div><div class="products row row-small large-columns-4 medium-columns-3 small-columns-2 has-shadow row-box-shadow-1-hover has-equal-box-heights equalize-box">
					@* start list product *@
					@if (Model.Any())
					{
						@foreach(var product in Model)
					{
						<div class="product-small col has-hover product type-product post-17129 status-publish first instock product_cat-may-khu-trung-sach has-post-thumbnail shipping-taxable purchasable product-type-simple">
							<div class="col-inner">

								<div class="badge-container absolute left top z-1">
								</div>
								<div class="product-small box ">
									<div class="box-image">
										<div class="image-zoom">
											<a href="/chi-tiet/@product.Slug" aria-label="@product.Name">
												<img width="300" height="300" src="@product.Image" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="@product.Name" />
											</a>
										</div>
										<div class="image-tools is-small top right show-on-hover">
										</div>
										<div class="image-tools is-small hide-for-small bottom left show-on-hover">
										</div>
										<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
											<a class="quick-view" data-prod="17129" href="#quick-view"><span class="dashicons dashicons-visibility"></span></a>
										</div>
									</div>

									<div class="box-text box-text-products text-center grid-style-2">
										<div class="price-wrapper" style="font-weight:bold">
											<p class="name product-title woocommerce-loop-product__title"><a href="/chi-tiet/@product.Slug" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@product.Name</a></p>
											@functions {
												string FormatPrice(decimal? price)
												{
													return (price ?? 0)
														.ToString("#,##0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"));
												}
											}
											@if (product.SalePrice > 0)
											{
												<!-- Giá gốc -->
												<span class="price old-price" style="display:block; text-decoration: line-through; color:#999;">
													@FormatPrice(product.Price) ₫
												</span>

												<!-- Giá sale -->
												<span class="price sale-price" style="display:block; color:#d00;">
													@FormatPrice(product.SalePrice) ₫
												</span>
											}
											else 
											{
												 <!-- Giá thường -->
												<span class="price" style="display:block;">
													@FormatPrice(product.Price) ₫
												</span>
											}
											<a href="/lien-he">
												<span class="contact-price" style="display:block; margin-top:3px; color:red">
													Liên hệ
												</span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>

					}
					}
					else
					{
						<p>Không tìm thấy sản phẩm nào phù hợp với lựa chọn của bạn!</p>
					}
					@* end list product *@
			
				</div><!-- row -->
				@functions {
					string BuildProductPageUrl(
						int page,
						string parentSlug,
						string slug,
						string orderby,
						long? minPrice,
						long? maxPrice)
					{
						var url = "";

						if (!string.IsNullOrEmpty(parentSlug) && !string.IsNullOrEmpty(slug))
							url = $"/san-pham/{parentSlug}/{slug}/page/{page}";
						else if (!string.IsNullOrEmpty(parentSlug))
							url = $"/san-pham/{parentSlug}/page/{page}";
						else
							url = $"/san-pham/page/{page}";

						var query = new List<string>();

						if (!string.IsNullOrEmpty(orderby))
							query.Add($"orderby={orderby}");

						if (minPrice.HasValue)
							query.Add($"minPrice={minPrice}");

						if (maxPrice.HasValue)
							query.Add($"maxPrice={maxPrice}");

						if (query.Any())
							url += "?" + string.Join("&", query);

						return url;
					}
				}

				<div class="container">
					<nav class="woocommerce-pagination">
						<ul class="page-numbers nav-pagination links text-center">

							@* Nút Previous *@
							@if (ViewBag.Page > 1)
							{
								<li>
									<a class="page-number" href="@BuildProductPageUrl(ViewBag.Page - 1, ViewBag.ParentSlug, ViewBag.Slug, ViewBag.Orderby, ViewBag.MinPrice, ViewBag.MaxPrice)">
										<i class="icon-angle-left"></i>
									</a>
								</li>
							}

							@* Các số trang *@
							@for (int i = 1; i <= ViewBag.TotalPages; i++)
							{
								if (i == ViewBag.Page)
								{
									<li><span class="page-number current">@i</span></li>
								}
								else
								{
									<li>
										<a class="page-number" href="@BuildProductPageUrl(i, ViewBag.ParentSlug, ViewBag.Slug, ViewBag.Orderby, ViewBag.MinPrice, ViewBag.MaxPrice)">
											@i
										</a>
									</li>
								}
							}

							@* Nút Next *@
							@if (ViewBag.Page < ViewBag.TotalPages)
							{
								<li>
									<a class="page-number" href="@BuildProductPageUrl(ViewBag.Page + 1, ViewBag.ParentSlug, ViewBag.Slug, ViewBag.Orderby, ViewBag.MinPrice, ViewBag.MaxPrice)">
										<i class="icon-angle-right"></i>
									</a>
								</li>
							}

						</ul>
					</nav>
				</div>


			</div><!-- shop container -->

		</div>

		<div class="large-3 col hide-for-medium ">
			<div class="is-sticky-column">
				<div class="is-sticky-column__inner">
					<div id="shop-sidebar" class="sidebar-inner">

						<aside id="block_widget-6" class="widget block_widget">
							<span class="widget-title shop-sidebar">Chính sách mua hàng</span><div class="is-divider small"></div>
							<div id="stack-350873900" class="stack stack-ico-chinh-sach-sp stack-col justify-around items-stretch">



								<div class="icon-box featured-box ico-chinh-sach-sp icon-box-left text-left">
									<div class="icon-box-img" style="width: 40px">
										<div class="icon">
											<div class="icon-inner">
												<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Layer_91" data-name="Layer 91"><path d="M53.25,24a21.25,21.25,0,1,0-33.5,17.33V60a1.25,1.25,0,0,0,2,1L32,53.55,42.26,61a1.26,1.26,0,0,0,.74.24,1.17,1.17,0,0,0,.57-.14A1.24,1.24,0,0,0,44.25,60V41.33A21.21,21.21,0,0,0,53.25,24ZM41.75,57.54l-9-6.55a1.26,1.26,0,0,0-1.48,0l-9,6.55V42.86a21.08,21.08,0,0,0,19.5,0ZM32,42.75A18.75,18.75,0,1,1,50.75,24,18.77,18.77,0,0,1,32,42.75Z" /><path d="M41.43,17.63H37.12a.73.73,0,0,1-.7-.5L35.09,13a3.25,3.25,0,0,0-6.18,0l-1.33,4.09a.73.73,0,0,1-.7.51H22.57a3.25,3.25,0,0,0-1.91,5.88l3.48,2.54a.72.72,0,0,1,.27.82L23.08,31a3.25,3.25,0,0,0,5,3.63l3.49-2.53a.72.72,0,0,1,.86,0l3.49,2.53a3.21,3.21,0,0,0,3.82,0A3.2,3.2,0,0,0,40.92,31l-1.33-4.1a.72.72,0,0,1,.27-.82l3.48-2.54a3.25,3.25,0,0,0-1.91-5.88Zm.44,3.86L38.39,24a3.24,3.24,0,0,0-1.18,3.62l1.33,4.1a.75.75,0,0,1-1.15.84L33.9,30a3.22,3.22,0,0,0-3.8,0l-3.49,2.54a.75.75,0,0,1-1.15-.84l1.33-4.1A3.24,3.24,0,0,0,25.61,24l-3.48-2.53a.72.72,0,0,1-.28-.84.74.74,0,0,1,.72-.52h4.31A3.23,3.23,0,0,0,30,17.9l1.33-4.1a.74.74,0,0,1,1.42,0L34,17.9a3.23,3.23,0,0,0,3.08,2.23h4.31a.74.74,0,0,1,.72.52A.72.72,0,0,1,41.87,21.49Z" /></g></svg>
											</div>
										</div>
									</div>
									<div class="icon-box-text last-reset">


										<h4 style="font-size: 18px">Sản phẩm chính hãng</h4><span style="font-size: 15px">Sản phẩm chính hãng, nguyên đai, nguyên kiện</span>

									</div>
								</div>



								<div class="icon-box featured-box icon-box-left text-left">
									<div class="icon-box-img" style="width: 40px">
										<div class="icon">
											<div class="icon-inner">
												<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>2</title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro%7CBarlow%3Aregular%2C700%2Cregular%2C700%7CDancing%20Script%3Aregular%2Cregular%7COpen%20Sans&display=swap" /><g id="Layer_16" data-name="Layer 16"><path d="M52.27,8.83,32.48,3.93a2,2,0,0,0-1,0L11.73,8.83a2,2,0,0,0-1.52,1.94V38.83a17.63,17.63,0,0,0,7.56,14.47l.26.15,13.09,6.47a2,2,0,0,0,1.77,0L46,53.44l.26-.15a17.63,17.63,0,0,0,7.56-14.47V10.78A2,2,0,0,0,52.27,8.83ZM32,7.94l17.79,4.41V15L32.48,10.71a2,2,0,0,0-1,0L14.21,15V12.34Zm12.06,42L32,55.89l-12.06-6a13.63,13.63,0,0,1-5.73-11.1V19.11L32,14.71l17.79,4.41V38.83A13.63,13.63,0,0,1,44.06,49.93Z" /></g></svg>
											</div>
										</div>
									</div>
									<div class="icon-box-text last-reset">


										<h4 style="font-size: 18px">Bảo hành điện tử</h4><span style="font-size: 15px">Bảo hành điện tử đơn giản, nhanh chóng</span>

									</div>
								</div>



								<div class="icon-box featured-box icon-box-left text-left">
									<div class="icon-box-img" style="width: 40px">
										<div class="icon">
											<div class="icon-inner">
												<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Layer_10" data-name="Layer 10"><path d="M60.12,31.3l-11-11A3,3,0,0,0,47,19.45H39.71a3,3,0,0,0-3,3V36.59H33.94v-30a1,1,0,0,0-1-1H7.71a1,1,0,0,0-1,1v30H6a3,3,0,0,0-3,3V49.74a3,3,0,0,0,3,3H8.62a6.91,6.91,0,0,0,13.58,0H42.06a6.92,6.92,0,0,0,13.59,0H58a3,3,0,0,0,3-3V33.42A3,3,0,0,0,60.12,31.3ZM23.43,7.63v5.79l-2.35-2.71a1,1,0,0,0-1.51,0l-2.35,2.71V7.63Zm-14.72,0h6.51v8.46a1,1,0,0,0,1.75.66l3.36-3.86,3.35,3.86a1,1,0,0,0,1.75-.66V7.63h6.51v29H8.71ZM5,49.74V39.59a1,1,0,0,1,1-1H36.71V50.74H22.29a6.92,6.92,0,0,0-13.76,0H6A1,1,0,0,1,5,49.74Zm10.41,6.63a4.92,4.92,0,1,1,4.92-4.92A4.93,4.93,0,0,1,15.41,56.37Zm33.45,0a4.92,4.92,0,1,1,4.92-4.92A4.92,4.92,0,0,1,48.86,56.37ZM59,49.74a1,1,0,0,1-1,1H55.74a6.92,6.92,0,0,0-13.77,0H38.71V22.45a1,1,0,0,1,1-1H47a1.05,1.05,0,0,1,.71.29l11,11a1,1,0,0,1,.29.71Z" /><path d="M46.05,25.82a1,1,0,0,0-.71-.3H43.79a1,1,0,0,0-1,1V38.67a1,1,0,0,0,1,1H53.93a1,1,0,0,0,1-1V35.11a1,1,0,0,0-.29-.71Zm6.88,11.85H44.79V27.52h.14l8,8Z" /></g></svg>
											</div>
										</div>
									</div>
									<div class="icon-box-text last-reset">


										<h4 style="font-size: 18px">Vận chuyển toàn quốc</h4><span style="font-size: 15px">Vận chuyển, giao hàng và lắp đặt toàn quốc</span>

									</div>
								</div>



								<div class="icon-box featured-box icon-box-left text-left">
									<div class="icon-box-img" style="width: 40px">
										<div class="icon">
											<div class="icon-inner">
												<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Layer_43" data-name="Layer 43"><path d="M31.35,24.12a1,1,0,0,0-1,1v6.47l-5.9,5.89a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l6.19-6.19a1,1,0,0,0,.29-.71V25.12A1,1,0,0,0,31.35,24.12Z" /><path d="M58,54.79A12.34,12.34,0,0,0,50,46a6.81,6.81,0,0,0,.76-10.36A19.33,19.33,0,0,0,51.14,32,19.84,19.84,0,1,0,35.36,51.37,12.58,12.58,0,0,0,34,54.7a1,1,0,0,0,.26,1,15.8,15.8,0,0,0,23.58-.06A1,1,0,0,0,58,54.79Zm-7.21-14.3A4.84,4.84,0,0,1,46,45.32h0a4.83,4.83,0,1,1,4.85-4.83ZM32.35,49.74V46.12a1,1,0,0,0-2,0v3.62a17.65,17.65,0,0,1-10.83-4.5l2.55-2.55a1,1,0,1,0-1.41-1.41l-2.55,2.55A17.64,17.64,0,0,1,13.62,33h3.61a1,1,0,1,0,0-2H13.62a17.64,17.64,0,0,1,4.49-10.83l2.55,2.55a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41l-2.55-2.55a17.65,17.65,0,0,1,10.83-4.5v3.62a1,1,0,1,0,2,0V14.26a17.69,17.69,0,0,1,10.83,4.49l-2.55,2.56a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l2.56-2.55A17.69,17.69,0,0,1,49.09,31H45.47a1,1,0,0,0,0,2h3.61q0,.68-.12,1.35a6.68,6.68,0,0,0-3-.69A6.82,6.82,0,0,0,42,46a12.24,12.24,0,0,0-4.47,2.7A17.49,17.49,0,0,1,32.35,49.74ZM46,59a13.78,13.78,0,0,1-10-4.25A10.36,10.36,0,0,1,46,47.32H46A10.36,10.36,0,0,1,56,54.75,13.78,13.78,0,0,1,46,59Z" /><path d="M28.46,52.13a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l1.73,1.73A23.46,23.46,0,0,1,7.93,32a1,1,0,0,0-2,0A25.46,25.46,0,0,0,29,57.32l-2,2a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.46-3.47a1,1,0,0,0,.35-.44,1,1,0,0,0-.21-1.09Z" /><path d="M30.64,8.28h0l3.58,3.57a1,1,0,0,0,1.71-.7,1,1,0,0,0-.29-.71L33.9,8.72A23.45,23.45,0,0,1,54.77,32a1,1,0,0,0,2,0A25.46,25.46,0,0,0,33.66,6.68l2-2a1,1,0,1,0-1.42-1.42L30.65,6.87l-.06,0h0a1,1,0,0,0-.23.53,1.28,1.28,0,0,0,0,.19h0A1,1,0,0,0,30.64,8.28Z" /></g></svg>
											</div>
										</div>
									</div>
									<div class="icon-box-text last-reset">


										<h4 style="font-size: 18px">Hỗ trợ khách hàng</h4><span style="font-size: 15px">Hỗ trợ, chăm sóc khách hàng 24/7</span>

									</div>
								</div>




								<style>
									#stack-350873900 > * {
									  --stack-gap: 0rem;
									}
								</style>
							</div>

							<div class="is-divider divider clearfix" style="background-color:rgb(0, 0, 0);"></div>
						</aside>
						<aside id="woocommerce_product_categories-13" class="widget woocommerce widget_product_categories">
							<span class="widget-title shop-sidebar">Danh mục sản phẩm</span><div class="is-divider small"></div>
							<ul class="product-categories">
								@* list danh mục sản phẩm *@
								@foreach(var pl2 in ViewBag.PagesL2)
								{
									@if(pl2.Level.Substring(0, 5) == ViewBag.PageTinTucLevel)
									{
										<li class="cat-item cat-item-243 cat-parent">
											<a href="@pl2.Link">@pl2.Name</a>
											<ul class='children'>
												@foreach(var pl3 in ViewBag.PagesL3)
												{
													@if (pl3.Level.Substring(0, 10) == pl2.Level)
													{
														<li class="cat-item cat-item-244"><a href="@pl3.Link">@pl3.Name</a></li>
													}
												}
											</ul>
										</li>
									}
								}
								@* end list danh mục sản phẩm *@
							</ul>
						</aside>
						<aside class="widget shop-sidebar">
							<span class="widget-title">Lọc theo giá</span>
							<div class="is-divider small"></div>

							<form method="get" action="/san-pham@(!string.IsNullOrEmpty(ViewBag.ParentSlug) ? "/" + ViewBag.ParentSlug : "")@(!string.IsNullOrEmpty(ViewBag.Slug) ? "/" + ViewBag.Slug : "")" id="price-filter-form">

								<div class="price-range-wrapper">
									<div class="price-values">

										<span id="price-min-label">@ViewBag.TopPrice ₫</span>
										—
										<span id="price-max-label"@(ViewBag.MaxPrice < ViewBag.TopPrice ? ViewBag.MaxPrice : ViewBag.TopPrice) ₫</span>
									</div>

									<input type="range"
										   id="minRange"
										   min="0"
										   max="@ViewBag.TopPrice"
										   step="10000"
										   value="@(ViewBag.MinPrice > 0 ? ViewBag.MinPrice : 0)">

									<input type="range"
										   id="maxRange"
										   min="0"
										   max="@ViewBag.TopPrice"
										   step="10000"
										   value="@(ViewBag.MaxPrice < ViewBag.TopPrice ? ViewBag.MaxPrice : ViewBag.TopPrice)">

									<input type="hidden" name="minPrice" id="minPrice" value="0">
									<input type="hidden" name="maxPrice" id="maxPrice" value="@ViewBag.TopPrice">

									<button type="submit" class="button">Lọc</button>
								</div>

							</form>
						</aside>
						<style>
							.price-range-wrapper {
								padding: 10px 0;
							}

							.price-values {
								font-weight: 600;
								margin-bottom: 10px;
							}

							input[type="range"] {
								width: 100%;
								margin: 5px 0;
								cursor: pointer;
}
						</style>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

@section Scripts{
	<script>
		const minRange = document.getElementById("minRange");
		const maxRange = document.getElementById("maxRange");

		const minPriceInput = document.getElementById("minPrice");
		const maxPriceInput = document.getElementById("maxPrice");

		const minLabel = document.getElementById("price-min-label");
		const maxLabel = document.getElementById("price-max-label");

		const formatMoney = n =>
			n.toLocaleString("vi-VN") + "₫";

		function syncPrice() {
			let min = parseInt(minRange.value);
			let max = parseInt(maxRange.value);

			if (min > max) {
				[min, max] = [max, min];
			}

			minPriceInput.value = min;
			maxPriceInput.value = max;

			minLabel.textContent = formatMoney(min);
			maxLabel.textContent = formatMoney(max);
		}

		minRange.addEventListener("input", syncPrice);
		maxRange.addEventListener("input", syncPrice);

		syncPrice();

		minRange.value = "@(ViewBag.MinPrice ?? 0)";
		maxRange.value = "@(ViewBag.MaxPrice ?? ViewBag.TopPrice)";
		syncPrice();
	</script>
}
