@using System.Text.RegularExpressions
@using System.Globalization
@using System.Net
@{
    ViewData["Title"] = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main" class="">


<div id="content" role="main" class="content-area">

		
				<section class="section" id="section_1773077818">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="slider-wrapper relative" id="slider-1982215976" >
    <div class="slider slider-type-fade slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
        data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": true,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'
        >
        
	@* start banner *@
	@foreach(var banner in ViewBag.Banners){
			<div class="banner has-hover" id="banner-@banner.Id">
			  <div class="banner-inner fill">
			<div class="banner-bg fill" >
				<div class="bg fill bg-fill "></div>
                                    
						</div>
		
			<div class="banner-layers container">
				<div class="fill banner-link"></div>            
	   <div id="text-box-1440129412" class="text-box banner-layer x50 md-x85 lg-x85 y50 md-y85 lg-y85 res-text">
		   <div class="hover-bounce">              <div data-animate="fadeInUp">           <div class="text-box-content text dark text-shadow-2">
              
                  
		<div id="text-2026530580" class="text">
		
	@* <p><strong>Giải pháp</strong></p> *@
		
	<style>
	#text-2026530580 {
	  line-height: 0.75;
	  text-align: center;
	}
	</style>
		</div>
	
		@* <div id="text-897089529" class="text">
		
	@Html.Raw(banner.Content)	
	<style>
	#text-897089529 {
	  text-align: center;
	  color: rgb(255,255,255);
	}
	#text-897089529 > * {
	  color: rgb(255,255,255);
	}
	</style>
		</div> *@
	
		<div id="text-2102520162" class="text hide-for-small">
		
	@* <p>Tối ưu hóa quản lý tài liệu, tra cứu thông tin và tạo điều kiện thuận lợi cho việc nghiên cứu học tập của học sinh.</p> *@
		
	<style>
	#text-2102520162 {
	  font-size: 1.55rem;
	  text-align: center;
	  color: rgb(255,255,255);
	}
	#text-2102520162 > * {
	  color: rgb(255,255,255);
	}
	</style>
		</div>
	
			
			   </div>
		   </div>              </div>       

		</div>
 
			</div>
		  </div>

            
	<style>
	#banner-@(banner.Id) {
	  padding-top: 40%;
	}
	#banner-@(banner.Id) .bg.bg-loaded {
	  background-image: url(@banner.Image);
	}
	</style>
	  </div>
	}
  

	@* end banner *@

  @* <div class="banner has-hover" id="banner-538845971">
          <div class="banner-inner fill">
        <div class="banner-bg fill" >
            <div class="bg fill bg-fill "></div>
                                    
                    </div>
		
        <div class="banner-layers container">
            <div class="fill banner-link"></div>            
   <div id="text-box-1014050127" class="text-box banner-layer x50 md-x85 lg-x85 y50 md-y85 lg-y85 res-text">
       <div class="hover-bounce">              <div data-animate="fadeInUp">           <div class="text-box-content text dark text-shadow-2">
              
              <div class="text-inner text-center">
                  
	<div id="text-983081103" class="text">
		
<p><strong>Giải pháp</strong></p>
		
<style>
#text-983081103 {
  line-height: 0.75;
  text-align: center;
}
</style>
	</div>
	
	<div id="text-858034830" class="text">
		
<h2 class="uppercase"><strong> PHÒNG HỌC HIỆN ĐẠI</strong></h2>
		
<style>
#text-858034830 {
  text-align: center;
  color: rgb(255,255,255);
}
#text-858034830 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
	<div id="text-3173400783" class="text hide-for-small">
		
<p>Nâng cao và tối ưu hóa chất lượng giảng dạy, tạo sự hứng thú, sáng tạo và linh hoạt trong học tập cho học sinh.</p>
		
<style>
#text-3173400783 {
  font-size: 1.55rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-3173400783 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
              </div>
           </div>
       </div>              </div>       
<style>
#text-box-1014050127 .text-box-content {
  background-color: rgba(0, 0, 0, 0.436);
  border-radius: 5px;
  font-size: 60%;
}
#text-box-1014050127 .text-inner {
  padding: 20px 20px 20px 20px;
}
#text-box-1014050127 {
  width: 70%;
}
@@media (min-width:550px) {
  #text-box-1014050127 .text-box-content {
    font-size: 100%;
  }
}
</style>
    </div>
 
        </div>
      </div>

            
<style>
#banner-538845971 {
  padding-top: 40%;
}
#banner-538845971 .bg.bg-loaded {
  background-image: url(/user/assets/wp-content/uploads/2024/03/Header-PH-HIEN-DAI.webp);
}
</style>
  </div>



  <div class="banner has-hover" id="banner-1337356380">
          <div class="banner-inner fill">
        <div class="banner-bg fill" >
            <div class="bg fill bg-fill "></div>
                                    
                    </div>
		
        <div class="banner-layers container">
            <div class="fill banner-link"></div>            
   <div id="text-box-1992758197" class="text-box banner-layer x50 md-x85 lg-x85 y50 md-y85 lg-y85 res-text">
       <div class="hover-bounce">              <div data-animate="fadeInUp">           <div class="text-box-content text dark text-shadow-2">
              
              <div class="text-inner text-center">
                  
	<div id="text-2257534319" class="text">
		
<p><strong>Giải pháp</strong></p>
		
<style>
#text-2257534319 {
  line-height: 0.75;
  text-align: center;
}
</style>
	</div>
	
	<div id="text-2830167033" class="text">
		
<h2 class="uppercase"><strong> PHÒNG HỌC THÔNG MINH</strong></h2>
		
<style>
#text-2830167033 {
  text-align: center;
  color: rgb(255,255,255);
}
#text-2830167033 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
	<div id="text-2130006369" class="text hide-for-small">
		
<p>Sự kết hợp hoàn hảo giữa công nghệ và giáo dục, nhằm tối ưu hóa quá trình học tập và giảng dạy.</p>
		
<style>
#text-2130006369 {
  font-size: 1.55rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-2130006369 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
              </div>
           </div>
       </div>              </div>       
<style>
#text-box-1992758197 .text-box-content {
  background-color: rgba(0, 0, 0, 0.436);
  border-radius: 5px;
  font-size: 55%;
}
#text-box-1992758197 .text-inner {
  padding: 20px 20px 20px 20px;
}
#text-box-1992758197 {
  width: 70%;
}
@@media (min-width:550px) {
  #text-box-1992758197 {
    width: 70%;
  }
  #text-box-1992758197 .text-box-content {
    font-size: 100%;
  }
}
</style>
    </div>
 
        </div>
      </div>

            
<style>
#banner-1337356380 {
  padding-top: 40%;
}
#banner-1337356380 .bg.bg-loaded {
  background-image: url(/user/assets/wp-content/uploads/2024/03/Header-PH-THONG-MINH.webp);
}
</style>
  </div>



  <div class="banner has-hover" id="banner-1586679506">
          <div class="banner-inner fill">
        <div class="banner-bg fill" >
            <div class="bg fill bg-fill "></div>
                                    
                    </div>
		
        <div class="banner-layers container">
            <div class="fill banner-link"></div>            
   <div id="text-box-949567425" class="text-box banner-layer x50 md-x85 lg-x85 y50 md-y90 lg-y90 res-text">
       <div class="hover-bounce">              <div data-animate="fadeInUp">           <div class="text-box-content text dark text-shadow-2">
              
              <div class="text-inner text-center">
                  
	<div id="text-2435725213" class="text hide-for-small">
		
<p><strong>Tất cả sản phẩm</strong></p>
		
<style>
#text-2435725213 {
  font-size: 0.75rem;
  line-height: 0.75;
  text-align: center;
}
@@media (min-width:550px) {
  #text-2435725213 {
    font-size: 1.55rem;
  }
}
</style>
	</div>
	
	<div id="text-2562670916" class="text show-for-small">
		
<p><strong>Từ nay tất cả sản phẩm INNO Việt Nam</strong></p>
<p><strong>Sẽ mang nhãn hiệu INNOSMART</strong></p>
		
<style>
#text-2562670916 {
  font-size: 0.75rem;
  line-height: 0.75;
  text-align: center;
}
@@media (min-width:550px) {
  #text-2562670916 {
    font-size: 1.55rem;
  }
}
</style>
	</div>
	
	<div id="text-2989205652" class="text hide-for-small">
		
<h2 class="uppercase"><strong> INNO VIỆT NAM</strong></h2>
		
<style>
#text-2989205652 {
  font-size: 0.75rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-2989205652 > * {
  color: rgb(255,255,255);
}
@@media (min-width:550px) {
  #text-2989205652 {
    font-size: 1.55rem;
  }
}
</style>
	</div>
	
	<div id="text-1750833233" class="text hide-for-small">
		
<p>Sẽ mang nhãn hiệu</p>
		
<style>
#text-1750833233 {
  font-size: 0.75rem;
  line-height: 0.75;
  text-align: center;
  color: rgb(255,255,255);
}
#text-1750833233 > * {
  color: rgb(255,255,255);
}
@@media (min-width:550px) {
  #text-1750833233 {
    font-size: 1.5rem;
  }
}
</style>
	</div>
	
	<div id="text-1090723056" class="text hide-for-small">
		
<h2 class="uppercase"><strong> INNOSMART</strong></h2>
		
<style>
#text-1090723056 {
  font-size: 0.75rem;
  line-height: 0.75;
  text-align: center;
  color: rgb(255,255,255);
}
#text-1090723056 > * {
  color: rgb(255,255,255);
}
@@media (min-width:550px) {
  #text-1090723056 {
    font-size: 1.65rem;
  }
}
</style>
	</div>
	
              </div>
           </div>
       </div>              </div>       
<style>
#text-box-949567425 .text-box-content {
  background-color: rgba(0, 0, 0, 0.436);
  border-radius: 5px;
  font-size: 55%;
}
#text-box-949567425 .text-inner {
  padding: 20px 20px 20px 20px;
}
#text-box-949567425 {
  width: 70%;
}
@@media (min-width:550px) {
  #text-box-949567425 {
    width: 70%;
  }
  #text-box-949567425 .text-box-content {
    font-size: 100%;
  }
}
</style>
    </div>
 
        </div>
      </div>

            
<style>
#banner-1586679506 {
  padding-top: 40%;
}
#banner-1586679506 .bg.bg-loaded {
  background-image: url(/user/assets/wp-content/uploads/2025/03/banner-web-INNOSMART-1.webp);
}
#banner-1586679506 .bg {
  background-position: 0% 0%;
}
</style>
  </div>
 *@

     </div>

     <div class="loading-spin dark large centered"></div>

	</div>


<div class="row row-collapse row-full-width hide-for-small"  id="row-1671320975">

	<div id="col-1358840249" class="col column-header-trans small-12 large-12"  >
				<div class="col-inner"  >
			
			
		</div>
				
<style>
#col-1358840249 > .col-inner {
  padding: 50px 0px 0px 0px;
  margin: -130px 0px 0px 0px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1773077818 {
  padding-top: 0px;
  padding-bottom: 0px;
}
</style>
	</section>
	
	
	
	@* list sản phẩm theo category *@
		@foreach(var c in ViewBag.CategoriesParent)
		{
			<section class="section" id="section_204542905">
				<div class="bg section-bg fill bg-fill  bg-loaded" >





				</div>



				<div class="section-content relative">

					<div class="row row-collapse"  id="row-1806957915">

						<div id="col-1307187518" class="col small-12 large-12"  >
							<div class="col-inner" style="background-color:rgb(255,255,255);" >


								<div class="row row-collapse"  id="row-1776133472">

									<div id="col-892465231" class="col medium-9 small-12 large-9"  >
										<div class="col-inner"  >
										<h2 class="category-title">
											@c.Name 
											@foreach(Category child in ViewBag.Categories){
												@if(child.ParentId == c.Id){
													<a href="/san-pham/@c.Slug/@child.Slug" class="category-child" style="color:black">
														-@child.Name
													</a>
												}
											}
											
										</h2>
										<style>
											.category-title {
												margin: 0;
												line-height: 1.3;
											}

											.category-title .category-child {
												font-size: 0.7em;      /* chữ nhỏ hơn h2 */
												font-weight: bold;
												text-decoration: none;
												margin-left: 4px;
											}

											.category-title .category-child:hover {
												color: #000;
												text-decoration: underline;
											}
										</style>
											
		</div>
					</div>

	

	<div id="col-952010159" class="col medium-3 small-12 large-3"  >
				<div class="col-inner"  >
			
			
	<div id="text-3759061839" class="text hide-for-small">
		
<p><a href="/san-pham/@c.Slug">Xem thêm <i class="fa fa-angle-right"></i></a></p>
		
<style>
#text-3759061839 {
  text-align: right;
}
</style>
	</div>
	
		</div>
					</div>

	

<style>
#row-1776133472 > .col > .col-inner {
  padding: 0px 0px 40px 0px;
}
</style>
</div>
<div class="row row-small"  id="row-1223871913">

	<div id="col-326270534" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			

  
    <div class="row product-row-homenew equalize-box large-columns-5 medium-columns-3 small-columns-2 row-small has-shadow row-box-shadow-1-hover slider row-slider slider-nav-simple slider-nav-push"  data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}' >
		@foreach(var p in ViewBag.Products){
			@if(p.Category.Parent.Id == c.Id){
				<div class="product-small col has-hover product type-product post-12931 status-publish first instock product_cat-ban-ghe-cho-lop-hoc-hien-dai product_cat-noi-that-thong-minh has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">
	
<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-zoom">
				<a href="/chi-tiet/@p.Slug" aria-label="@p.Name">
					<img loading="lazy" decoding="async" src="@p.Image" style="width:300px; height:300px; object-fit: cover">			
				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
				  <a class="quick-view" data-prod="12931" href="#quick-view"><span class="dashicons dashicons-visibility"></span></a>			</div>
					</div>

		<div class="box-text box-text-products text-center grid-style-2">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="/chi-tiet/@p.Slug" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@p.Name</a></p></div><div class="price-wrapper">
											@functions {
												string FormatPrice(decimal? price)
												{
													return (price ?? 0)
														.ToString("#,##0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"));
												}
											}
											@if (p.SalePrice > 0 && p.Price > 0)
											{
												<!-- Giá gốc -->
												<span class="price old-price" style="display:block; text-decoration: line-through; color:white;">
													@FormatPrice(p.Price) ₫
												</span>

												<!-- Giá sale -->
												<span class="price sale-price" style="display:block; color:white;">
													@FormatPrice(p.SalePrice) ₫
												</span>
											}
											else if (p.Price > 0)
											{
												<!-- Giá thường -->
												<span class="price" style="display:block;">
													@FormatPrice(p.Price) ₫
												</span>
											}
											<a href="/lien-he">
												<span class="contact-price" style="display:block; margin-top:3px; color:white; font-weight:bold">
													Liên hệ
												</span>
											</a>
											
</div>		</div>
	</div>
		</div>
</div>
			}
		}
  	
	     
</div>
		</div>
					</div>

	
</div>
		</div>
				
<style>
#col-1307187518 > .col-inner {
  padding: 20px 15px 0px 15px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_204542905 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(238, 238, 238);
}
</style>
	</section>
		}
		
	@* end list sản phẩm theo category *@

	@* section giải pháp thông minh *@
	<section class="section" id="section_178857710">
		<div class="bg section-bg fill bg-fill  " >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-618780767">

	<div id="col-877298786" class="col medium-7 small-12 large-7"  >
				<div class="col-inner"  >
			
			
		<div class="contact-raw">
			@Html.Raw(ViewBag.Config.Contact)
			<style>
				.contact-raw * {
					max-width: 100%;
					word-break: break-word;
					overflow-wrap: break-word;
				}
			</style>
		</div>
	
 @* 	<div id="text-4144097158" class="text">
		

 <style>
 #text-4144097158 {
   font-size: 1.35rem;
 }
 </style>
 	</div> *@
	
@* <a href="/lien-he" target="_self" class="button primary lowercase"  style="border-radius:99px;">
  <i class="icon-phone" aria-hidden="true" ></i>  <span>Liên hệ tư vấn</span>
  </a> *@

		</div>
					</div>

	

	<div id="col-1879552989" class="col medium-4 small-12 large-4"  >
				<div class="col-inner"  >
			
			
	<div id="ux-lottie-3585534417" class="ux-lottie hide-for-small" >
				<lottie-player class="ux-lottie__player" data-params="{&quot;src&quot;:&quot;https:\/\/lottie.host\/8d5fc756-6371-4b47-9805-03086f6a2b47\/FRgq7psdpj.json&quot;,&quot;loop&quot;:true,&quot;autoplay&quot;:true,&quot;controls&quot;:false,&quot;speed&quot;:&quot;1&quot;,&quot;direction&quot;:1,&quot;trigger&quot;:&quot;&quot;,&quot;mouseout&quot;:&quot;&quot;,&quot;start&quot;:0,&quot;end&quot;:100,&quot;visibilityStart&quot;:0,&quot;visibilityEnd&quot;:100,&quot;id&quot;:&quot;ux-lottie-3585534417&quot;}" ></lottie-player>
				
<style>
#ux-lottie-3585534417 {
  width: 100%;
  height: 350px;
}
#ux-lottie-3585534417 .ux-lottie__player {
  margin: 0px 0px 0px 200px;
}
</style>
	</div>
	
		</div>
					</div>

	
</div>
<div class="row row-collapse"  id="row-1600828024">

	@* list menu giữa *@
	@foreach(PageL1 pl1 in ViewBag.Pagesl1){
		<div id="col-440280957" class="col column-accor-home-giaiphap medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1-hover" style="background-color:rgb(240, 240, 240);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 100px">
				<img src="@pl1.Page.Content" style="width:100px;height:100px;object-fit:cover"/>
			</div>
				<div class="icon-box-text last-reset">
									
		</div>
	</div>
	
	@* list giải pháp *@
<div class="accordion accor-home-giaiphap">
	<div id="accordion-3567141214" class="accordion-item title-accor-home-giaiphap" style="text-align:center">
		<div class="accordion-title plain">
			<button class="toggle">
				<i class="icon-angle-down"></i>
			</button>

			<a href="@pl1.Page.Link" class="acc-title-link">
				@pl1.Page.Name
			</a>
		</div>
		<div id="accordion-3567141214-content" class="accordion-inner" aria-labelledby="accordion-3567141214-label" >
			
	<div class="ux-menu stack stack-col justify-start ux-menu--divider-solid">
	@foreach(Page pl2 in ViewBag.PagesL2){
		@if (pl2.Level.Substring(0, 5) == pl1.Page.Level)
		{
			<div class="ux-menu-link flex menu-item">
				<a class="ux-menu-link__link flex" href="@pl2.Link" >
					<i class="ux-menu-link__icon text-center icon-angle-right" ></i>		
					<span class="ux-menu-link__text">
						@pl2.Name		
					</span>
				</a>
			</div>
		}
	}	
	
	</div>
	
		</div>
	</div>
	
</div>

	@* end list giải pháp *@
		</div>
					</div>
	}
	
	@* end list menu giữa *@
</div>
	<div id="gap-1702289686" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-1702289686 {
  padding-top: 30px;
}
</style>
	</div>
	
		</div>

		
<style>
#section_178857710 {
  padding-top: 60px;
  padding-bottom: 60px;
}
#section_178857710 .section-bg.bg-loaded {
  background-image: url(/user/assets/wp-content/uploads/2024/03/bg-giai-phap-home.webp);
}
</style>
	</section>
	@* end section giải pháp thông minh *@

	@* section tin tức *@
	<section class="section" id="section_1542691822">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row row-small"  id="row-1242757087">

	<div id="col-678207181" class="col small-12 large-12"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			
<div class="row row-collapse"  id="row-802572892">

	<div id="col-1669058445" class="col medium-9 small-12 large-9"  >
				<div class="col-inner"  >
			
			
<h2>TIN TỨC</h2>
		</div>
					</div>

	

	<div id="col-75629872" class="col medium-3 small-12 large-3"  >
				<div class="col-inner"  >
			
			
	<div id="text-3318067585" class="text hide-for-small">
		
<p><a href="/tin-tuc">Xem thêm <i class="fa fa-angle-right"></i></a></p>
		
<style>
#text-3318067585 {
  text-align: right;
}
</style>
	</div>
	
		</div>
					</div>

	

<style>
#row-802572892 > .col > .col-inner {
  padding: 0px 0px 40px 0px;
}
</style>
</div>
<div class="row row-small"  id="row-615904383">

	<div id="col-1406245488" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			

  
    <div class="row blog-tintuc-homenew large-columns-5 medium-columns-1 small-columns-1 row-small slider row-slider slider-nav-simple slider-nav-push"  data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}' >
	@foreach(News n in ViewBag.News){
		<div class="col post-item" >
			<div class="col-inner">
				<div class="box box-normal box-text-bottom box-blog-post has-hover">
            					<div class="box-image" >
  						<div class="image-cover" style="padding-top:75%;">
							<a href="/chi-tiet-tin-tuc/@n.Slug" class="plain" aria-label="INNO Việt Nam tham dự Hội nghị Chuyển đổi số trong Giáo dục và Đào tạo 2025 của Bộ GD&#038;ĐT">
								<img loading="lazy" decoding="async" src="@n.Hinhanh" class="attachment-medium size-medium wp-post-image" alt="@n.Title"/>							</a>
  							  							  						</div>
  						  					</div>
          					<div class="box-text text-left" >
					<div class="box-text-inner blog-post-inner">

					
										<h5 class="post-title is-large ">
						<a href="/chi-tiet-tin-tuc/@n.Slug" class="plain">
							@n.Title
						</a>
					</h5>
										<div class="is-divider"></div>
										<p class="from_the_blog_excerpt " style="white-space:normal; word-break: break-word">
											@{
												var html = n.Content ?? string.Empty;

												// 1️⃣ Bỏ thẻ HTML
												var text = Regex.Replace(html, "<.*?>", "").Trim();

												// 2️⃣ Giải mã HTML entity (&aacute; → á)
												text = WebUtility.HtmlDecode(text);

												var maxLength = 50;

												// 3️⃣ Cắt chuỗi chuẩn Unicode
												var si = new StringInfo(text);
												if (si.LengthInTextElements > maxLength)
												{
													text = si.SubstringByTextElements(0, maxLength) + "...";
												}
											}
											@text
										</p>
					                    
					
					
					</div>
					</div>
									</div>
			</div>
		</div>
	}
  
</div>
		</div>
				
<style>
#col-1406245488 > .col-inner {
  margin: 0px 0px 30px 0px;
}
</style>
	</div>

	
</div>
		</div>
				
<style>
#col-678207181 > .col-inner {
  padding: 20px 15px 0px 15px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1542691822 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(238, 238, 238);
}
</style>
	</section>
	@* end section tin tức  *@

		
</div>



</main>
@section Scripts
{
	<script>
jQuery(function ($) {

    // Click link → đi link, không toggle
    $('.acc-title-link').on('click', function (e) {
        e.stopPropagation();
    });

    // Click icon → toggle accordion
    $('.accordion-title .toggle').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $(this)
            .closest('.accordion-item')
            .toggleClass('active')
            .find('.accordion-inner')
            .stop(true, true)
            .slideToggle();
    });

});
</script>
}